body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

#qr-reader {
    margin: 20px auto;
    max-width: 100%; /* Ограничиваем максимальную ширину для адаптивности */
}

#qr-result {
    margin-top: 20px;
    font-size: 18px;
    color: #333; /* Добавляем цвет текста для лучшей читаемости */
}

#video {
    width: 100%; /* Занимает всю доступную ширину */
    max-width: 400px; /* Максимальная ширина окна камеры */
    height: auto; /* Автоматически подстраивает высоту */
    border: 2px solid #ccc; /* Добавляем рамку */
    border-radius: 10px; /* Скругляем углы */
    display: block; /* Убираем лишние отступы */
    margin: 0 auto; /* Центрируем видео */
}

#animated-image {
    display: none; /* Изначально скрываем изображение */
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 0 auto;
}

#animated-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Адаптивность для экранов шириной до 600px */
@media (max-width: 600px) {
    .container {
        margin-top: 20px;
    }

    #video {
        width: 100%;
        height: auto;
    }

    #animated-image {
        width: 100%;
        height: auto;
    }
}
