body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

#qr-reader {
    margin: 20px auto;
    max-width: 100%; /* Ограничиваем максимальную ширину для адаптивности */
}

#qr-result {
    margin-top: 20px;
    font-size: 18px;
    color: #333; /* Добавляем цвет текста для лучшей читаемости */
}

#video {
    width: 100%; /* Устанавливаем ширину видео на 100% */
    height: auto; /* Автоматически подстраиваем высоту */
    border: 2px solid #ccc; /* Добавляем рамку для лучшего визуального выделения */
    border-radius: 10px; /* Скругляем углы */
}

#animated-image img {
    width: 300px;
    height: auto;
    animation: fadeIn 2s;
    display: none; /* Изначально скрываем изображение */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Адаптивность для экранов шириной до 600px */
@media (max-width: 600px) {
    .container {
        margin-top: 20px;
    }

    #video {
        width: 100%;
        height: auto;
    }

    #animated-image img {
        width: 100%;
        height: auto;
    }
}
